.homeContainer{
    /* background-color: antiquewhite; */
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 5vw;

}
.textframe{
    width: 40vw;
    height: auto;
    border:  2px;
    border-style: solid;
    border-color: black;
    box-shadow: 5px 5px 5px black;
    padding: 1rem;
    border-radius: 10px;
}

.textframe p{
    font-size: 1.1rem;
    font-family: 'Times New Roman';
}
@media (max-width: 1200px) {
    .homeContainer{
      flex-direction: column;
    }
    .textframe{
        width: 80vw;
    }
}