<div class="mainContainer">
  <div class="postContainer">
    <div class="textframe">
      <h1 style="text-align: center;" class="text-gradient-primary">Greetings!</h1>
      <h5>
        
          Welcome to my ongoing coding adventure! <br> I'm Denis, a self-taught software enthusiast, navigating the
          transition from civil engineering to professional software development.
          <br>
          Here, you'll discover a collection of my pet projects, showcasing my evolving skills in C#, JavaScript,
          HTML, and CSS.
          <br>
          As a perpetual learner, I've independently delved into programming, embracing adaptability and nurturing a
          lifelong passion for innovation. Explore my projects to witness a blend of thoughtful problem-solving in C#
          applications and a creative touch in JavaScript, HTML, and CSS creations.
          <br>
          I'm excited to contribute my ever-growing skills and unwavering dedication to a dynamic software development
          team. Let's connect and explore how my unique background, combined with my perpetual learning mindset, can
          bring continuous value to your projects!
        
      </h5>
    </div>
  </div>

  <div id="programmingProjects"  class="postContainer">
    <app-list-of-software-projects></app-list-of-software-projects>
  </div>
  <div id="aboutMe"  class="postContainer">
   <app-about-me></app-about-me>
  </div>
</div>