.headerWrapper{
    height: 10vh;
}
.outletWrapper{
    --contentHeight: auto;
    
}
.footerWrapper{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: calc(var(--contentHeight) + 10vh);
}


